[submodule "YAPComponents"]
	path = YAPComponents
url=https://bitbucket.org/yap-technology/ios-yap-ui-kit.git
[submodule "YAPCore"]
	path = YAPCore
url=https://bitbucket.org/yap-technology/ios-yap-core.git
