//
//  Stage.xcconfig
//  App
//
//  Created by Zain on 11/06/2019.
//  Copyright © 2019 Digitify. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "../Pods/Target Support Files/Pods-APIClient/Pods-APIClient.release (household-develop).xcconfig"

environment = Household-Develop
plist = ${SRCROOT}/APIClient/Configurations/Household-Develop.plist
BASE_URL= https:/$()/dev-a.yap.co
BASE_URL_ADMIN = https:/$()/dev-hci.yap.co
PUBLIC_KEY = NONE
